@import "../../../sass/global";
@import "../../../sass/mixins";

//** MAIN CSS ** //
.main_container {
  @include cardContainer;
}

.front {
  .front_container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    .title {
      @include titleFrontCard();
    }
    .button_container {
      all: unset;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
    }
  }
  .orbit {
    position: absolute;
    aspect-ratio: 1/1;
    border-radius: 50%;
    width: 310px;
    background-color: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(25deg);
    z-index: -1;

    border: 0.2rem solid $primary-dark;
    border-top: 0.2rem solid transparent;

    outline: 0.2rem solid $primary-dark;
    outline-offset: 0.9rem;
    @media screen and (min-width: $breakpoint-mobile) {
      width: 400px;
    }
    @media screen and (min-width: $breakpoint-tablet) {
      width: 330px;
    }
    @media screen and (min-width: $breakpoint-laptop) {
      width: 430px;
    }
    @media screen and (min-width: $breakpoint-large-desktop) {
      width: 600px;
    }
  }
  .circle {
    position: absolute;
    aspect-ratio: 1/1;
    border-radius: 50%;
    width: 210px;
    background-color: $blue-100;
    transform: translate(-50%, -50%) rotate(25deg);
    box-shadow: 0 0 10px 10px $blue-900;

    opacity: 0.5;
    z-index: -2;
    top: 50%;
    left: 50%;
    @media screen and (min-width: $breakpoint-mobile) {
      width: 300px;
    }
    @media screen and (min-width: $breakpoint-tablet) {
      width: 230px;
    }
    @media screen and (min-width: $breakpoint-laptop) {
      width: 330px;
    }
    @media screen and (min-width: $breakpoint-large-desktop) {
      width: 500px;
    }
  }
}

.light {
  background-color: $primary-dark;
  color: $primary-light;
  .orbit {
    border-color: $primary-light;
    border-top: 0.2rem solid transparent;
    outline-color: $primary-light;
  }
  .separator_horizontal,
  .separator_vertical,
  .separator_vertical_right,
  .separator_vertical_one {
    background-color: $primary-light;
  }
  .button_code {
    background-color: $primary-light !important;
    color: $primary-dark !important;
  }
  .right_container {
    border-color: $primary-light;
  }
  .back_button {
    svg {
      color: $primary-light !important;
    }
    &:hover {
      background-color: $primary-light;
      svg {
        color: $primary-dark !important;
      }
    }
  }
}

.separator_horizontal {
  position: absolute;
  background-color: $primary-dark;
  height: 1px;
  width: 100%;
}

.button_more {
  @include buttonMore();
}

.button_code {
  @include buttonCode;
}

.title {
  @include cardTitle;
}

.back_button {
  @include backButton();
  top: -65px;
  right: -65px;
  svg {
    top: calc(50% + 20px);
    left: calc(50% - 15px);
  }
}

.selector_top,
.selector_bottom {
  position: absolute;
  width: 25%;
  div {
    height: 3px;
    background-color: $orange-600;
    width: 100%;
    border-radius: 2px;
  }
  left: 0;
}
.selector_bottom {
  bottom: -3px;
  transform: translateY(-1.5px);
}
.selector_top {
  top: -3px;
  transform: translateY(1.5px);
}

//**  research container css  **//
.container {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.tabs_root {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-bottom: 1px solid $sand-8;
}

.tabs_list {
  position: relative;
  display: flex;
  justify-content: space-around;
  padding: 8px 0;
  border-top: 1px solid $sand-8;
  border-bottom: 1px solid $sand-8;
}

.tabs_trigger {
  all: unset;
  user-select: none;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-right: 1px solid $sand-8;
  span {
    font-style: italic;
    font-weight: 300;
    color: $secondary-dark;
  }
  &:hover {
    cursor: pointer;
  }
}

.tabs_trigger:nth-of-type(4) {
  border-right: none;
}

.tabs_content_container {
  height: 100%;
  position: relative;
}

.tabs_content {
  position: absolute;
  height: 100%;
  width: 100%;
}

.selected {
  strong {
    color: $orange-600;
  }
  span {
    color: $orange-500;
  }
}

@media screen and (max-width: 410px) {
  .tabs_trigger {
    font-size: 0.85rem;
  }
}
