@import "./variables";

@mixin VerticalLine($border-left, $height) {
  all: unset;
  position: absolute;
  border-left: $border-left;
  height: $height;
}

@mixin HorizontalLine($border-bottom, $width) {
  all: unset;
  position: absolute;
  border-bottom: $border-bottom;
  width: $width;
}

@mixin cardContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  padding: 15px 20px;
  color: $primary-dark;
  background-color: white;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

@mixin buttonMore {
  all: unset;
  user-select: none;
  text-align: center;
  font-weight: 700;
  font-size: 1rem;
  padding: 4px 10px;
  border-radius: 3px;
  box-shadow: 0 0 0 2.5px $secondary-dark;
  &:hover {
    cursor: pointer;
  }
}

@mixin buttonCodeContainer {
  display: grid;
  place-items: center;
  height: 10%;
}

@mixin buttonCode {
  all: unset;
  user-select: none;
  text-align: center;
  padding: 5px 10px;
  border-radius: 3px;
  background-color: $primary-dark;
  color: $primary-light;
  &:hover {
    cursor: pointer;
  }
}

@mixin cardTitle {
  font-size: 0.8rem;
  @media screen and (min-width: $breakpoint-tablet) {
    text-align: center;
    font-size: 1.1rem;
  }
  @media screen and (min-width: $breakpoint-laptop) {
    font-size: 1.2rem;
  }
}

@mixin cardContentText {
  text-align: justify;
  font-weight: 300;
  font-size: 0.85rem;
  line-height: 1.4rem;

  strong {
    color: $green-900;
    font-size: 1.15em;
  }
  @media screen and (min-width: $breakpoint-tablet) {
    font-size: 0.9rem;
    line-height: 1.4rem;
  }
  @media screen and (min-width: $breakpoint-laptop) {
    font-size: 1rem;
    line-height: 1.7rem;
  }
  @media screen and (min-width: $breakpoint-large-desktop) {
    font-size: 1rem;
    line-height: 2rem;
  }
}
