@mixin VerticalLine($border-left, $height) {
  all: unset;
  position: absolute;
  border-left: $border-left;
  height: $height;
}

@mixin HorizontalLine($border-bottom, $width) {
  all: unset;
  position: absolute;
  border-bottom: $border-bottom;
  width: $width;
}

@mixin cardContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  padding: 15px 20px;
  color: $primary-dark;
  background-color: white;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

@mixin buttonMore {
  all: unset;
  font-weight: 700;
  font-size: 1rem;
  padding: 4px 10px;
  border-radius: 3px;
  box-shadow: 0 0 0 2.5px $secondary-dark;
  &:hover {
    cursor: pointer;
  }
}
