/// ***************************
/// LANDING PAGE SIZES
/// ***************************
$landing-margin-left: 28%;

// top container
$top-container-height: 15vh;

// hover-card
$hovercard-height: 125%;
$hovercard-left: calc($top-container-height - 5vh);

// name container
$name-container-margin-left: calc($top-container-height);

/// ***************************
/// BREAKPOINTS
/// ***************************
$breakpoint-large-desktop: 1600px;
$breakpoint-desktop: 1200px;
$breakpoint-laptop: 950px;
$breakpoint-tablet: 760px;
$breakpoint-mobile: 550px;

$breakpoints: (
  desktop: 1200px,
  laptop: 950px,
  tablet: 760px,
  mobile: 550px,
);
