@import "../../sass/global";

.carousel_container {
  aspect-ratio: 1/1;
  position: absolute;
  height: $carousel-height;
  top: calc(($carousel-height - 100%) / 2 * -1);
  left: -$carousel-left;
  border-radius: 50%;
  overflow: hidden;
}

.carousel_item {
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/// ***************************
/// BREAKPOINTS
/// ***************************
///
// @media screen and (min-width: $breakpoint-mobile) {
//   .carousel_container {
//     left: -15vw;
//   }
// }

// @media screen and (min-width: $breakpoint-tablet) {
//   .carousel_container {
//     left: -10vw;
//   }
// }

// @media screen and (min-width: $breakpoint-laptop) {
//   .carousel_container {
//     left: -8vw;
//   }
// }

// @media screen and (min-width: $breakpoint-desktop) {
//   //   .carousel_container {
//   //     left: -8vw;
//   //   }
// }
