@import "../../sass/global";

.hovercard_trigger {
  aspect-ratio: 1/1;
  position: absolute;
  height: $hovercard-height;
  top: 50%;
  left: -10vh;
  transform: translateY(-50%);
  border-radius: 50%;
  overflow: hidden;
  z-index: 0;
  div {
    width: 100%;
    height: 100%;
  }
  &:hover {
    cursor: pointer;
  }
}

.hovercard_content {
  z-index: 999999;
  border-radius: 6px;
  padding: 20px;
  background-color: white;
}

.light {
  background-color: $blue-1000;
  color: white;
  .pic_container {
    border-color: $blue-1000;
  }
  .contact_container {
    p {
      color: white;
    }
  }
}

.a_light {
  color: $blue-400 !important;
}

.hovercard_arrow {
  fill: white;
}

.content_container {
  display: "flex";
  flex-direction: "column";
  position: relative;
  width: 212px;
}

.header_container {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.pic_container {
  aspect-ratio: 1/1;
  width: 40%;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid white;
  position: absolute;
  top: 8px;
  left: 2.5%;
}

.text_container {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  h3 {
    font-size: 1rem;
  }
  h4 {
    font-size: 0.8rem;
    font-weight: 400;
  }
  p {
    font-size: 0.7rem;
    margin-top: 10px;
    color: $gray-700;
  }
}

.info_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.school_container {
  text-decoration: none;
  display: flex;
  align-items: center;
  &:visited {
    color: $blue-700;
  }
  h4 {
    font-weight: 600;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
      color: $blue-700;
    }
  }
  .school_logo {
    aspect-ratio: 1/1;
    width: 30px;
    height: 30px;
    margin-right: 8px;
  }
}

.contact_container {
  width: 100%;
  span {
    font-weight: 600;
    color: $blue-700;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
    a {
      &:visited {
        color: $blue-700;
      }
      text-decoration: none;
    }
  }
  .blue_info {
    margin-left: 10px;
  }
}

/// ***************************
/// BREAKPOINTS
/// ***************************

@media screen and (min-width: $breakpoint-mobile) {
  .content_container {
    width: 270px;
  }
  .pic_container {
    width: 35%;
    top: 20px;
  }
  .text_container {
    margin-top: 45px;
  }
}

@media screen and (min-width: $breakpoint-tablet) {
  .content_container {
    width: 400px;
  }
  .pic_container {
    width: 28%;
  }
}

@media screen and (min-width: $breakpoint-laptop) {
  .content_container {
    width: 480px;
  }
  .hovercard_trigger {
    height: 150%;
    left: -11.25vh;
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  .content_container {
    width: 550px;
  }
  .pic_container {
    width: 25%;
    top: 40px;
  }
  .text_container {
    margin-top: 40px;
  }
  .hovercard_trigger {
    height: 190%;
    left: -14.5vh;
  }
}
