@import "../sass/global";

.navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 55px;
  background-color: $secondary-dark;
  color: $secondary-light;
  opacity: 0.9;
  z-index: 99999999999;
  display: flex;
  align-items: center;
  padding: 0 6vw;
}

@mixin navTrigger {
  all: unset;
  position: fixed;
  display: grid;
  aspect-ratio: 1/1;
  width: 30px;
  place-items: center;
  right: 6vw;
  border-radius: 4px;
  &:hover {
    cursor: pointer;
    background-color: $pink-900;
  }
}

.light {
  background-color: $secondary-light;
  color: $secondary-dark;
  .fn_element {
    svg {
      color: $secondary-dark;
    }
  }

  .nav_trigger {
    &:hover {
      color: $secondary-light;
    }
  }
}

@mixin elements($flex-direction: row) {
  all: unset;
  user-select: none;
  display: flex;
  flex-direction: $flex-direction;
  flex-wrap: wrap;
  width: 100%;

  gap: 5%;
  li {
    list-style: none;
  }
}

.nav_elements {
  @include elements(column);
  gap: 5%;

  z-index: 99999999999;
}
.mobile {
  position: fixed;
  background-color: $secondary-dark;
  box-shadow: 4px 4px 8px hsla(200, 50%, 50%, 0.5);
  color: $secondary-light;
  height: 100vh;
  width: 45vw;
  justify-content: center;
  align-items: center;
}
.mobile_light {
  background-color: $secondary-light;
  color: $secondary-dark;
  .fn_element {
    svg {
      color: $secondary-dark;
    }
  }

  .nav_close_trigger {
    color: $secondary-dark;
    &:hover {
      color: $secondary-light;
    }
  }
}

.nav_trigger {
  all: unset;
  @include navTrigger();
}

.nav_close_trigger {
  @include navTrigger();
  top: 1.5vh;
  color: $secondary-light;
}

.fn_elements {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 10%;
}

.fn_element {
  svg {
    aspect-ratio: 1/1;
    height: 35px;
    width: 35px;
    color: $primary-light;
  }
  a {
    all: unset;
  }

  &:hover {
    cursor: pointer;
    .social_icon {
      color: $pink-900;
    }
  }
  &:focus-within {
    box-shadow: 0 0 0 1px $pink-900;
  }
}

/// ***************************
/// BREAKPOINTS
/// ***************************
@media screen and (min-width: $breakpoint-tablet) {
  .fn_elements {
    width: auto;
  }
  .nav_trigger {
    display: none;
  }
  .navbar {
    top: 0;
    width: 100vw;
    opacity: 1;
  }
  .nav_elements {
    @include elements();
    justify-content: right;
    align-items: center;
    gap: 5%;
    button {
      all: unset;
    }
    div {
      font-family: $font-inter, $font-fira-code, $font-roboto;
      padding: 8px 14px;
      border-radius: 4px;
    }
  }
}
