@import "../sass/global";

.navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  min-height: 6vh;
  background-color: $secondary-dark;
  color: $secondary-light;
  opacity: 1;
  z-index: 9999999999;
  display: flex;
  align-items: center;
  padding: 0 8vw;
}

.nav_trigger {
  position: fixed;
  top: 15px;
  right: 15px;
}

.light {
  background-color: $secondary-light;
  color: $secondary-dark;
  .fn_element {
    svg {
      color: $secondary-dark;
    }
  }
}

@mixin elements($flex-direction: row) {
  all: unset;
  user-select: none;
  display: flex;
  flex-direction: $flex-direction;
  flex-wrap: wrap;
  width: 100%;

  gap: 5%;
  li {
    list-style: none;
  }
}

.nav_elements {
  @include elements(column);
  gap: 5%;
  button {
    all: unset;
  }
  div {
    font-family: $font-inter, $font-fira-code, $font-roboto;
    padding: 8px 14px;
    border-radius: 4px;
  }
  z-index: 999999999999999999999999999999999999;
}
.mobile {
  position: fixed;
  top: 6vh;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: red !important;
}

.nav_element {
  &:hover {
    cursor: pointer;
    background-color: $pink-900;
    color: $pink-100;
  }
}

.fn_elements {
  display: flex;
  flex-direction: row;
  gap: 5%;
}

.fn_element {
  svg {
    aspect-ratio: 1/1;
    height: 30px;
    width: 30px;
    color: $primary-light;
  }
  a {
    all: unset;
  }

  &:hover {
    cursor: pointer;
    .social_icon {
      color: $pink-900;
    }
  }
  &:focus-within {
    box-shadow: 0 0 0 1px $pink-900;
  }
}

/// ***************************
/// BREAKPOINTS
/// ***************************
@media screen and (min-width: $breakpoint-tablet) {
  .nav_trigger {
    display: none;
  }
  .navbar {
    top: 0;
    width: 100vw;
    max-height: 6vh;
    opacity: 0.9;
  }
  .nav_elements {
    @include elements();
    justify-content: right;
    align-items: center;
    gap: 5%;
    button {
      all: unset;
    }
    div {
      font-family: $font-inter, $font-fira-code, $font-roboto;
      padding: 8px 14px;
      border-radius: 4px;
    }
  }
}
