@import "../sass/global";
@import "../sass/mixins";

.about__page {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  position: relative;
}

.main_container {
  margin: 0 13vw;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about_me {
  padding: 2vh 1vw;
  text-align: justify;
  z-index: 1;
  p {
    all: unset;
    z-index: 1;
  }
}

.my_competences {
  padding: 2vh 1vw;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  .compentece {
    z-index: 1;
    background-color: white;
    color: black;
    font-weight: 500;
    display: grid;
    place-items: center;
    text-transform: capitalize;
    border-radius: 2px;
    width: 60%;
    height: 100%;
    padding: 5%;
  }
}

// LINES CSS
.vertical_line_left {
  @include VerticalLine(1px solid white, 90vh);
  left: 12vw;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 1;
}

.vertical_line_right {
  @include VerticalLine(1px solid white, 90vh);
  right: 12vw;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 1;
}

.horizontal_line {
  @include HorizontalLine(1px solid white, 90vw);
  z-index: 1;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  transform: translate(0, -50%);
}
