@import "../../../sass/global";
@import "../../../sass/mixins";

//** MAIN CSS ** //
.main_container {
  @include cardContainer();
  overflow: hidden;
}

.front {
  .front_container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    .title {
      @include titleFrontCard();
    }
    .button_container {
      all: unset;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
    }
  }
  .triangle {
    @include triangle();
    opacity: 0.75;
  }
  .triangle_2 {
    @include triangle($yellow-500);
    top: calc(50% - 30px);
    left: calc(55% - 50px);
    opacity: 0.8;
    @media screen and (min-width: $breakpoint-mobile) {
      left: calc(50% - 50px);
    }
    @media screen and (min-width: $breakpoint-tablet) {
      top: calc(50% - 50px);
      left: calc(50% - 80px);
    }
  }
}

.light {
  background-color: $primary-dark;
  color: $primary-light;
  strong {
    color: $green-400 !important;
  }
  .separator_horizontal,
  .separator_vertical,
  .separator_vertical_right,
  .separator_vertical_one {
    background-color: $primary-light;
  }
  .button_code {
    background-color: $primary-light !important;
    color: $primary-dark !important;
  }
  .left_container {
    border-color: $primary-light;
  }
  .back_button {
    svg {
      color: $primary-light !important;
    }
    &:hover {
      background-color: $primary-light;
      svg {
        color: $primary-dark !important;
      }
    }
  }
}

//** SHARED CSS ** //

.back_button {
  @include backButton();
  bottom: -48px;
  left: -48px;
  svg {
    top: calc(50% - 20px);
    left: calc(50% + 20px);
  }
}

.separator_horizontal {
  background-color: $primary-dark;
  height: 1px;
  width: 100%;
}

.separator_vertical,
.separator_vertical_right {
  background-color: $primary-dark;
}

.separator_vertical_one {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $primary-dark;
  height: 52px;
  width: 1px;
}

.button_more {
  @include buttonMore;
}

.icon_container {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  gap: 10px;
  .icon {
    aspect-ratio: 1/1;
    width: 2rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }
}

//** TOP CONTAINER **//
.top_container {
  height: 100%;

  .title_container {
    width: 100%;
    margin-bottom: 20px;
  }
  .title_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include cardTitle;
  }

  .content_container {
    display: grid;
    place-items: center;
    gap: 15px;
    padding: 0 25px;

    .content_text {
      @include cardContentText;
    }
  }
  @media screen and (min-width: $breakpoint-mobile) {
  }
}

//** MIDDLE CONTAINER **//
@mixin separatorVertical {
  position: absolute;
  height: calc(100% + 40px);
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
}

@mixin chevron {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: grid;
  place-items: center;
  width: 25px;
  height: 100%;
  &:hover {
    cursor: pointer;
  }
}

.slider_container {
  position: relative;
  height: 100%;
  .separator_vertical {
    @include separatorVertical();
    left: 25px;
  }

  .separator_vertical_right {
    @include separatorVertical();
    right: 25px;
  }

  .chevron_right {
    @include chevron();
    right: 0;
  }
  .chevron_left {
    @include chevron();
  }
}

//** CODE CONTAINER **//
.button_container {
  @include buttonCodeContainer;
  button {
    @include buttonCode;
  }
}

/// ***************************
/// BREAKPOINTS
/// ***************************
@media screen and (min-width: $breakpoint-tablet) {
  .title_container {
    @include cardTitle;
  }
  .main_container {
    padding: 0;
  }
  .card_container_laptop {
    position: relative;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1.2fr;
  }
  .left_container,
  .right_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
  }
  .left_container {
    padding: 15px 20px;
    position: relative;
  }
  .content_container {
    display: flex;
    padding: 10px 15px;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    height: 100%;
    .content_text {
      @include cardContentText;
    }
  }

  .icon_container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }
  .separator_horizontal {
    width: 85%;
    margin: 2vh 0;
  }
  .separator_vertical {
    position: absolute;
    height: calc(100% - 15px);
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
  }
}

.button_container_large {
  display: flex;
  gap: 20px;

  .button_code {
    @include buttonCode;
  }

  @media screen and (min-width: $breakpoint-tablet) {
    flex-direction: column;
  }
  @media screen and (min-width: $breakpoint-laptop) {
    flex-direction: row;
    text-align: center;
  }
}
@media screen and (min-width: $breakpoint-tablet) {
  .card_container_laptop {
    grid-template-columns: 1fr 1.9fr;
  }
}

@media screen and (min-width: $breakpoint-laptop) {
  .card_container_laptop {
    grid-template-columns: 1fr 1.9fr;
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  .card_container_laptop {
    grid-template-columns: 1fr 2.75fr;
  }
}

@media screen and (min-width: $breakpoint-large-desktop) {
  .card_container_laptop {
    grid-template-columns: 1fr 4fr;
  }
}
