@import "../../../sass/global";
@import "../../../sass/mixins";

//** MAIN CSS ** //
.main_container {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  padding: 15px 20px;
  color: $primary-dark;
  box-shadow: 0 0 0 1px $primary-light;
  background-color: white;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.light {
  background-color: $primary-dark;
  color: $primary-light;
  .separator_horizontal,
  .separator_vertical,
  .separator_vertical_right,
  .separator_vertical_one {
    background-color: $primary-light;
  }
  .code_container > button {
    background-color: $primary-light;
    color: $primary-dark;
  }
}

//** SHARED CSS ** //
.separator_horizontal {
  background-color: $primary-dark;
  height: 1px;
  width: 100%;
}

.separator_vertical,
.separator_vertical_right {
  background-color: $primary-dark;
}

.button_more {
  all: unset;
  font-weight: 700;
  font-size: 1rem;
  padding: 4px 10px;
  border-radius: 3px;
  box-shadow: 0 0 0 2.5px $secondary-dark;
}

.icon_container {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  gap: 10px;
  .icon {
    aspect-ratio: 1/1;
    width: 2rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }
}

//** TOP CONTAINER **//
.top_container {
  height: 100%;

  .title_container {
    width: 100%;
    margin-bottom: 20px;
  }

  .title_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .separator_vertical_one {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $primary-dark;
    height: 52px;
    width: 1px;
  }

  .content_container {
    display: grid;
    place-items: center;
    gap: 15px;
    padding: 0 25px;

    .content_text {
      text-align: justify;
      font-weight: 300;
      line-height: 1.4rem;
    }
  }

  /// BREAKPOINTS
  @media screen and (min-width: $breakpoint-tablet) {
    background-color: red;
    width: 100%;
    height: auto;
    .title_container {
      margin: 0;
    }
  }
}

//** MIDDLE CONTAINER **//
@mixin separatorVertical {
  position: absolute;
  height: calc(100% + 40px);
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
}

@mixin chevron {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: grid;
  place-items: center;
  width: 25px;
  height: 100%;
  &:hover {
    cursor: pointer;
  }
}

.mid_container {
  position: relative;
  height: 100%;
  .separator_vertical {
    @include separatorVertical();
    left: 25px;
  }

  .separator_vertical_right {
    @include separatorVertical();
    right: 25px;
  }

  .chevron_right {
    @include chevron();
    right: 0;
  }
  .chevron_left {
    @include chevron();
  }
}

//** CODE CONTAINER **//
.button_container {
  display: grid;
  place-items: center;
  height: 10%;
  button {
    all: unset;
    padding: 5px 10px;
    border-radius: 3px;
    background-color: $primary-dark;
    color: $primary-light;
    &:hover {
      cursor: pointer;
    }
  }
}

//** SWIPER STYLES **//
.swiper_container {
  height: 100%;
  padding: 0 25px;
}

.swiper_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  padding: 0 20px;

  h3 {
    color: $orange-600;
  }

  span {
    padding: 0 15px;
    font-size: 0.8rem;
    font-weight: 300;
    text-align: justify;
    text-decoration: dotted;
  }
}

.GIF_container {
  width: 220px;
  height: auto;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/// ***************************
/// BREAKPOINTS
/// ***************************
@media screen and (min-width: $breakpoint-tablet) {
  .mid_container {
    position: relative;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1.2fr;
  }
  .left_container,
  .right_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
  }
  .left_container {
    border-right: 1px solid $primary-dark;
  }
  .content_container {
    display: flex;
    padding: 10px 15px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    .content_text {
      font-size: 0.9rem;
      line-height: 1.4rem;
    }
  }
  .right_container {
    position: relative;
  }
  .icon_container,
  .title_container {
    width: 100%;
    height: 40px !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }
  .separator_horizontal {
    position: absolute;
    top: 40px;
  }
  .right_vessel {
    position: relative;
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: $breakpoint-laptop) {
  .mid_container {
    grid-template-columns: 1fr 3fr;
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  .mid_container {
    grid-template-columns: 1fr 4.3fr;
  }
}
