@import "../../sass/global";
@import "../../sass/mixins";

.overlay {
  background-color: $sand-12;
  opacity: 0.8;
  z-index: 999999999999999999;
  position: fixed;
  inset: 0;
}

.content {
  background-color: white;
  border-radius: 6px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85vw;
  max-height: 85vh;
  padding: 25px;
  z-index: 999999999999999999;
}

.close {
  all: unset;
  font-family: inherit;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  display: grid;
  place-items: center;
  color: $red-900;
  position: absolute;
  top: 10px;
  right: 10px;
  &:hover {
    background-color: $red-200;
    cursor: pointer;
  }
}


//** inside content **//

.main_container{
  position: relative;
    height: 100%;
  width: 100%;
}

.separator_horizontal{
  width: 100%;
  height: 1px;
  background-color: $primary-dark;
}

.separator_cv{
  width: 100%;
  height: 1px;
  background-color: $primary-dark;
  margin: 15px 0;

  @media screen and (min-width: $breakpoint-tablet) {
    width: 1px;
    height: 100%;
    background-color: $primary-dark;
    margin: 10px 0;
  }
}


.doc_container{
  height: auto;
  display: grid;
  grid-template-columns: 1fr;

  place-items: center;
  
  @media screen and (min-width: $breakpoint-tablet) {
    div{ 
      display: flex;
      justify-content: center;
      align-items: center;
    }
    grid-template-columns: 1fr 0 1fr;
  }

  }

.resume_EN, .resume_ES{
  padding: 10px;
  width: 100%;
  display: grid;
  place-items: center;
  img{
    width: 50%;
    object-fit: contain;
  }

  @media screen and (min-width: $breakpoint-tablet) {
    img{
      width: 80%;
    }
  }

}


.button_container{
  display: flex;
  align-items: center;
  gap: 10px;
  button{
    all: unset;
    text-align: center;
    box-shadow: 0 0 0 0.5px $primary-dark;
    font-size: 0.76rem;
    width: 100%;
    padding: 3px 5px;
  }
  @media screen and (min-width: $breakpoint-tablet) {
    flex-direction: column;

    button{
      width: 100%;
    }
  }
}