@import "./sass/global";

.full__page {
  width: 100vw;
  height: 100vh;
}

.body {
  background-color: $primary-dark;
  color: $primary-light;
  overflow-y: auto;
}

.light {
  background-color: $primary-light;
  color: $primary-dark;
}

.landing__page {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100000;
  width: 100%;
}

.about__page {
  position: fixed;
  background-color: black;
  color: white;
  height: 100vh;
  width: 100vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999990;
  display: grid;
  place-items: center;
}

.about__container {
  height: 100%;
  width: 100%;
}
