@import "../sass/global";
@import "../sass//mixins";

.full__page {
  width: 100vw;
  height: 100vh;
}

.body {
  color: $primary-dark;
  overflow-y: auto;
  padding-top: 7vh;
}

.light {
  color: $primary-light;
  .horizontal_line {
    color: $primary-dark;
    border-color: $primary-dark;
  }
}

.project_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5vh 5vw;
}

.horizontal_line {
  border-bottom: 1px solid $primary-light;
  width: 100%;
  margin-bottom: 1.6vh;
  color: $primary-light;
}

.project_wrapper {
  display: grid;
  gap: calc(1vw + 1vh);
  grid-template-rows: repeat(3, 84vh);
  grid-template-columns: 1fr;
  width: 100%;

  .project_item {
    position: relative;
  }

  /// BREAKPOINTS
  @media screen and (min-width: $breakpoint-tablet) {
    grid-template-rows: repeat(2, calc(81vh));
    gap: calc(1vh + 0.5vw);
    grid-template-columns: 1fr 1fr;

    .project_item:nth-child(1) {
      grid-column: span 2;
    }

    .project_item:nth-child(2) {
      grid-column: span 1;
    }
    .project_item:nth-child(3) {
      grid-column: span 1;
    }
  }
}

/// ***************************
/// BREAKPOINTS
/// ***************************
