@import "../sass/global";
@import "../sass//mixins";

.body {
  color: $primary-light;
  overflow-y: auto;
  padding-top: 9vh;
}

.light {
  color: $primary-dark;
}

.title{
  text-align: center
}

.top_line {
  @include HorizontalLine(1px solid white, 60vw);
  right: 0
}

.bot_line{
  @include HorizontalLine(1.5px solid white, 60vw);
  left: 0;
}

.index_container{
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 30px 0 20px;
  user-select: none;
}


.index_item{
  font-size: 1rem;
  text-align: center;
  border-top: 1px groove $primary-light;
  border-bottom: 1px groove $primary-light;
  padding: 4px 15px;
  &:hover{
    cursor: pointer;
  }
}


.project_container{
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/// ***************************
/// BREAKPOINTS
/// ***************************
@media screen and (min-width: $breakpoint-tablet) {
}

@media screen and (min-width: $breakpoint-laptop) {
}
